.prueba2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.skills-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color4);
    margin: 50px 0;
    border-radius: 15px;
    box-shadow: 0px 3px 5px var(--color3);
    padding: 20px;
}

.skill-icon:hover{
    scale: 1.05;
    transition: 0.15s;
}

.skills-container p{
    font-size: 34px;
    font-family: 'Signika';
    color: white;
    
}

.skills-container ul{
    margin: 0;
    padding: 0;
    
}


.grid-habilities{
    list-style: none;
    display: grid;
    text-align: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    gap: 8px;
}

.skill-icon {
    margin: auto;
    display: flex;
    flex-direction: column;
}

.skill-icon span{
    margin-top: 5px;
    font-family: 'Signika';
    font-size: 18px;
    color: white;
}
.padding-img{
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 3px 5px rgba(57, 57, 57, 0.68);
}

.javascript{
    background-color: rgba(230, 231, 144, 0.464);
}

.html{
    background-color: rgba(232, 171, 27, 0.557);
}
.css{
    background-color: rgba(78, 148, 205, 0.582);
}
.java{
    background-color: rgba(255, 255, 255, 0.693);
}
.mysql{
    background-color: rgba(164, 228, 179, 0.427);
}
.bootstrap{
    background-color: rgba(118, 33, 198, 0.429);
}
.unity{
    background-color: rgba(93, 93, 93, 0.391);
}

.skill-icon img{
    width: 110px;
}


@font-face {
    font-family: 'Signika';
    src: url('/Fuentes/SignikaNegative-Bold.ttf') format('truetype');
  }